
    <form>
        <div class='form-group row'>
            <label for="Date" class="col-sm-2 col-form-label">Date</label>
            <input class='form-control col-sm-8' type="date" id='Date'>
        </div>
    
        <div class='form-group row'>
            <label for="Name" class="col-sm-2 col-form-label">Name</label>
            <input class='form-control col-sm-8' type="text" id='Name'>
        </div>
    
        <div class='form-group row'>
            <label for="Amount" class="col-sm-2 col-form-label">Amount</label>
            <input class='form-control col-sm-8' type="number" id='Amount'>
        </div>
    
    
        <button type="submit" class="btn btn-primary">Enter</button>
    
    </form>